<div class="flex flex-wrap  gap-2 h-screen w-screen">
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
    <app-movie-cart></app-movie-cart>
</div>