<div class="  background-image">
    <app-header></app-header>

    <div class="login_container  ">
        <div class="login">
            <h2 class="text-white title">Sign In</h2>
            <form [formGroup]="authUser ">
                <div class="mb-5">
                    <input formControlName="email" type="text" placeholder="Email" class="input text-white "
                        (blur)="updateErrorMessageEmail()">
                    @if (authUser.controls.email.invalid) {
                    <mat-error class="text-red-500">{{errorMsgEmail}}</mat-error>
                    }
                </div>

                <div class="mb-5">
                    <input formControlName="password" type="password" placeholder="Password" class="input text-white "
                        (blur)="updateErrorMessagePassword()">
                    @if (authUser.controls.password.invalid) {
                    <mat-error class="text-red-500">{{errorMsgPassword}}</mat-error>

                    }
                </div>

                <button type="button" (click)="signIn()" class="bg-red-600 text-white log_btn hover:bg-red-700">Sign
                    In</button>
            </form>
        </div>
    </div>
</div>