<!-- <app-navbar class="overflow-x-hidden"> -->
    <app-movie-carusel [title]="'Top Rated TV Shows'" [videoContent]="topRatedTvShows"></app-movie-carusel>
    <app-movie-carusel [title]="'Airing Today TV Shows'" [videoContent]="airingTodayTvShows"></app-movie-carusel>
    <app-movie-carusel [title]="'Popular TV Shows'" [videoContent]="popularTvShows"></app-movie-carusel>
    <app-movie-carusel [title]="'On The Air TV Shows'" [videoContent]="onTheAirTvShows"></app-movie-carusel>

<!-- </app-navbar> -->