.browse_page{
    background-color: black;

    .banner{
        width: 100vw;
        height: 100vh;

        .banner_img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .banner_movie_info{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            color: white;
            top: 40%;
            padding-left: 2rem;
            max-width: 600px;

            .banner_heading{
             font-size: 48px;
             font-weight: bold;
            }

            .banner_description{
                font-size: 24px;
            }
            .banner_action{
                display: flex;
                padding: 10px 20px;
                gap: 32px;
                .play_btn{
                    padding: 12px;
                    background-color: white;
                    color: black;
                    font-weight: bold;
                    font-size: 20px;
                    border-radius: 4px;
                    width: 150px;

                }
                .info_btn{
                    background-color: gray;
                    padding: 12px ;
                    font-weight: bold;
                    font-size: 20px;
                    border-radius: 4px;
                    width: 150px;
                }
            }
        }
    }
    .banner_video{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // .movie_categories{
    //     position: relative;
    //     z-index: 1;
    // }
}